<div style="text-align: center;">
 <!-- <h1 class="violeta">
    ¡Hola {{destino}}!
  </h1>
-->
  <!-- <app-fechaactual></app-fechaactual>-->
  <!-- <app-viewmodelo></app-viewmodelo>-->
  <!-- <app-ejmetodo></app-ejmetodo>-->
  <!--<h3>
    Ejemplo Property Binding
  </h3>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
  -->

  <!--<h3> Ejemplo event Binding</h3>
  <app-ejeventbinding></app-ejeventbinding>
  -->
 <!--  <h3>Ejemplo two ways Binding</h3>
  <app-ej2waybinding></app-ej2waybinding> -->
  <!--<h3>Ejemplo directiva ngIf</h3>
  <app-ejdirectivangif></app-ejdirectivangif>-->
  <!-- <h3>Ejemplo directiva ngStyle</h3>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>-->
  <!--<h3>Ejemplo directiva ngClass</h3>
  <app-ejdirectivangclass></app-ejdirectivangclass>-->
  <!--<h3>Ejemplo ngFor</h3>
  <app-ejdirectivanfgor></app-ejdirectivanfgor>-->
  <!--<h3>Ejemplo directiva ngFor con objetos</h3>
  <app-ejarrayobjetos></app-ejarrayobjetos>-->
  <!--<h3>Ejemplo Directiva ngSwitch</h3>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>-->
  <h3>Ejemplo directiva propia</h3>
  <app-ejmidirectiva></app-ejmidirectiva>
</div>









